html{
    height: 100%;
}

body{
    min-height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    background-color: lightgray;
}
nav{
    margin: auto;
}
nav ,ul{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0px;
    width: 100%;
}

header{ 
    
}

header li{
    border:1px solid black;
    border-radius: 3px;
    margin-top: 3px;
    margin-left: 2px;
    width:50%;
    list-style-type: none;
    max-width: 33%;
    background-color: gray;
}

header li a{
    display: block;
    text-decoration: none;
    color:white;
    width: 100%;
}

header li a:hover{
    text-decoration: underline;
    color:blue;
}
#content{
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

form{
    width:70%;
    height: 100%;
    margin: auto;
    text-align: center;
}

form div{
    margin:8px;
}
footer{
    height: 100px;
    text-align: center;
    background-color: gray;
    color:white;
}

table{
    font-size: 80%;
    margin: auto;
    border:1px solid black;
}
td ,tr{
  border:1px solid black;  
}